<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My new bundle{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CDN styles -->
	<link href="{{asset('bundles/jetevents/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link href="{{asset('bundles/jetevents/css/style.css')}}" rel="stylesheet">
  </head>

  <body>
    
    {% include "JetEventsBundle::navbar.html.twig" %}

    
	<div class="container">
    {% block main %}
    	<header class="jumbotron masthead">
			<h1>Party</h1>
		</header>
		<div>
			<div class="row">
				<div class="span12">
					<h2>hola mundo</h2>
					<div class="row">
						<div class="span6">
							<h3>Fiesta en mi casa</h3>
						</div>
						<div class="span6">
							{% block fos_user_content %}
        					{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
    {% endblock %}
    </div>
    <footer>
    	<div class="container">
    		<div class="row">
    			<div class="span9">
    				<div class="row">
    					<div class="span3">
    						<h4>Product</h4>
    						<ul>
    							<li><a>hola</a></li>
    							<li><a>hola</a></li>
    						</ul>
    					</div>
    					<div class="span3">
    						<h4>More</h4>
    						<ul>
    							<li><a>hola</a></li>
    							<li><a>hola</a></li>
    						</ul>
    					</div>
    					<div class="span3">
    						<h4>Company</h4>
    						<ul>
    							<li><a>hola</a></li>
    							<li><a>hola</a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    			<div class="span3">
    				Falta rellenar
    			</div>
    		</div>
    	</div>
    	<div id='footer-floor'>
    		<div class="container">
    			<div class="row">
    				<div class="span8">
    					<h3 id='phone'>2342423423</h3>
    					<p>
               				&copy; 2011 
               				<a href="#" title="titulo seo">RareStep, LLC</a>. All Rights Reserved.
               				&nbsp;
               				<a href='/terms'>Terms</a>
                			&nbsp; & &nbsp;
                			<a href='#'>Privacy</a>.
              			</p>
    				</div>
    				<div class="span4">
    					twitter, facebook, +google 
    				</div>
    			</div>
    		</div>
    	</div>
	</footer>




    <!-- CDN Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
