    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img width="30px" src="{{ asset('bundles/jetcore/img/speaker.png') }}"> Eventum</a>
          <div id="menu" class="nav-collapse pull-right">
            <ul class="nav">
              <li class="members" style="margin-top: -25px"><a class="btn btn-nav" href="#contact">Acceso Canales</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>